<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636037073970-r7ii91rltkhrjf40sn9lknm8dsf4j483.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636037073970-r7ii91rltkhrjf40sn9lknm8dsf4j483</string>
	<key>API_KEY</key>
	<string>AIzaSyDcaP7F7uqZ-dyI01xRcyN24Wr4z1T0FUs</string>
	<key>GCM_SENDER_ID</key>
	<string>636037073970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.koda</string>
	<key>PROJECT_ID</key>
	<string>koda-80dc1</string>
	<key>STORAGE_BUCKET</key>
	<string>koda-80dc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636037073970:ios:04fe9df98bdc47332fc02b</string>
</dict>
</plist>